# Validate the data frame

In [33]:
import pandas as pd

In [34]:
def read_file():
    df = pd.read_csv(filename)
    if(df.empty):
        print ('CSV file is empty')
    else:
        print ('CSV file is not empty')
        return df

In [35]:
filename ='C:\\Users\\nfinity\\Downloads\\Data sets\\supermarket_sales.csv'

In [36]:
df = read_file()

CSV file is not empty

In [9]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

# determine the csv data datatype by iterating the rows

In [10]:
import pandas as pd
df = pd.read_csv('C:\\Users\\nfinity\\Downloads\\Data sets\\supermarket_sales.csv', nrows=2)
for dtype in df.dtypes.iteritems():
    print(dtype)

('Invoice ID', dtype('O'))
('Branch', dtype('O'))
('City', dtype('O'))
('Customer type', dtype('O'))
('Gender', dtype('O'))
('Product line', dtype('O'))
('Unit price', dtype('float64'))
('Quantity', dtype('int64'))
('Tax 5%', dtype('float64'))
('Total', dtype('float64'))
('Date', dtype('O'))
('Time', dtype('O'))
('Payment', dtype('O'))
('cogs', dtype('float64'))
('gross margin percentage', dtype('float64'))
('gross income', dtype('float64'))
('Rating', dtype('float64'))

In [16]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

# Processing the matched columns

In [38]:
import pandas as pd
data = pd.read_csv('C:\\Users\\nfinity\\Downloads\\Data sets\\supermarket_sales.csv')

In [30]:
df = df[sorted(data)]
validation = df
validation['chk'] = validation['Invoice ID'].apply(lambda x: True if x in df else False)
validation = validation[validation['chk'] == True].reset_index()
validation

Empty DataFrame
Columns: [index, Branch, City, Customer type, Date, Gender, Invoice ID, Payment, Product line, Quantity, Rating, Tax 5%, Time, Total, Unit price, cogs, gross income, gross margin percentage, chk]
Index: []

# Check Data Type convert as Date column

In [39]:
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col])
        except ValueError:
            pass
print(df.dtypes)

Invoice ID                         object
Branch                             object
City                               object
Customer type                      object
Gender                             object
Product line                       object
Unit price                        float64
Quantity                            int64
Tax 5%                            float64
Total                             float64
Date                       datetime64[ns]
Time                       datetime64[ns]
Payment                            object
cogs                              float64
gross margin percentage           float64
gross income                      float64
Rating                            float64
dtype: object

# validate data to check missing values

In [32]:
for col in df.columns:
    miss = df[col].isnull().sum()
    if miss>0:
        print("{} has {} missing value(s)".format(col,miss))
    else:
        print("{} has NO missing value!".format(col))

Branch has NO missing value!
City has NO missing value!
Customer type has NO missing value!
Date has NO missing value!
Gender has NO missing value!
Invoice ID has NO missing value!
Payment has NO missing value!
Product line has NO missing value!
Quantity has NO missing value!
Rating has NO missing value!
Tax 5% has NO missing value!
Time has NO missing value!
Total has NO missing value!
Unit price has NO missing value!
cogs has NO missing value!
gross income has NO missing value!
gross margin percentage has NO missing value!
chk has NO missing value!

In [29]:
df.dtypes

Branch                             object
City                               object
Customer type                      object
Date                       datetime64[ns]
Gender                             object
Invoice ID                         object
Payment                            object
Product line                       object
Quantity                            int64
Rating                            float64
Tax 5%                            float64
Time                       datetime64[ns]
Total                             float64
Unit price                        float64
cogs                              float64
gross income                      float64
gross margin percentage           float64
chk                                  bool
dtype: object